.navspace{
    margin-right: 50%;
    margin-left:15%;
}
.navcolors{
    background-color: #1CBBE9;
    color:white;
    font-family: raleway;
}

h4{
    font-family: raleway;
}

h6{
    font-family: raleway;
}